.first{
    // background-color: aqua;
    display: flex;
    justify-content: space-around;
    padding: 13px 14px;
    .a1{
        background-image: url(HC-common.jpg);
        background-size: cover;
        height: 400px;
        width: 32%;
    }
    .a2{
        background-image: url(HC-trending.gif);
        background-size: cover;
        height: 400px;
        width: 33%;
    }
    .a3{
        background-image: url(HC-cargos.jpg);
        background-size: cover;
        height: 400px;
        width: 32%;
    }
}

// bill-board ---------
.bill-board{
    background-image: url(banner.webp);
    background-size: cover;
    width: 97%;
    height: 120px;
    margin-left: 1.5%;
    margin-top: 10px;
    
}

// Timer ------
.countdown{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 97%;
        margin-left: 1.5%;
        padding: 14px;
        // border-radius: 5px;
        position: relative;
        top: 20px;
        border-bottom: 2px solid rgb(139, 138, 138);
        gap: 10px;
        font-family: arial;
        color: rgb(88, 88, 88);
    
    #time {
        font-size: 24px;
        font-weight: bold;
    }
}

// Shop by Category- Men  -----------
.shop{
    margin-top: 40px;
    h2{
        text-align: center;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: rgb(8, 8, 8);
    }
    .row1{
        margin-left: 1.5%;
        margin-top: 30px;
        display: flex;
        .img1{
            background-image: url(img1.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img2{
            background-image: url(img2.webp);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img3{
            background-image: url(img3.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img4{
            background-image: url(img4.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img5{
            background-image: url(img5.webp);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img6{
            background-image: url(img6.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
    }
    .row2{
        margin-left: 1.5%;
        margin-top: 10px;
        display: flex;
        .img7{
            background-image: url(img7.webp);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img8{
            background-image: url(img8.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img9{
            background-image: url(img9.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img10{
            background-image: url(img10.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img11{
            background-image: url(img11.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img12{
            background-image: url(img12.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
    }
}

.shop_women{
    margin-top: 40px;
    h2{
        text-align: center;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: rgb(8, 8, 8);
    }
    .row1{
        margin-left: 1.5%;
        margin-top: 30px;
        display: flex;
        .img1{
            background-image: url(imgw1.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img2{
            background-image: url(imgw2.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img3{
            background-image: url(imgw3.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img4{
            background-image: url(imgw4.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img5{
            background-image: url(imgw5.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img6{
            background-image: url(imgw6.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
    }
    .row2{
        margin-left: 1.5%;
        margin-top: 10px;
        display: flex;
        .img7{
            background-image: url(imgw7.webp);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img8{
            background-image: url(imgw8.webp);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img9{
            background-image: url(imgw9.webp);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img10{
            background-image: url(imgw10.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img11{
            background-image: url(imgw11.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
        .img12{
            background-image: url(imgw12.jpg);
            background-size: cover;
            height: 300px;
            width: 16.18%;
        }
    }
}

// EFFORTLESSLY STYLISH BESTSELLERS -------
.bestsellers {

    margin-left: 1.5%;

    h2 {
        margin-top: 60px;
        text-align: center;
        font-family: sans-serif;
        letter-spacing: 2px;
        color: rgb(8, 8, 8);
    }

    .img-bestsellers {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;

        .img_a1 {
            background-image: url(men-s-black-house-of-the-dragon-iconic-graphic-printed-t-shirt.webp);
            background-size: contain;
            height: 250px;
            width: 18%;
        }

        .img_a2 {
            background-image: url(men-beast-within-3-0-oversized-fit-t-shirt-620155-1697028287-1.webp);
            background-size: auto;
            height: 250px;
            width: 18%;
        }

        .img_a3 {
            background-image: url(women-s-black-happier-than-ever-billie-graphic-printed-oversized-t-shirt.webp);
            background-size: cover;
            height: 250px;
            width: 18%;
        }

        .img_a4 {
            background-image: url(women-s-black-oversized-t-shirt.webp);
            background-size: cover;
            height: 250px;
            width: 18%;
        }

        .img_a5 {
            background-image: url(women-s-brown-sugar-spice-everything-nice-graphic-printed-oversized-t-shirt.webp);
            background-size: cover;
            height: 250px;
            width: 18%;
        }
    }
}