/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top-Navbar */
.top_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .top-menu{
        display: flex;
        list-style: none;
        // gap: 20px;
        li{
            margin-left: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .top2-menu{
        display: flex;
        list-style: none;
        li{
            margin-left: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e3e0e0;
    padding: 10px;

    // Logo styling
    .navbar-logo {
        font-size: 30px;
        font-weight: bold;
    }

    // Menu items styling
    .navbar-menu {
        list-style-type: none;
        display: flex;

        li{
            padding: 0 15px;
            border-right: 1px solid #faf7f7;
            // font-family: arial;
        }
        li:hover{
            background-color: #6c4444;
            color: #e3e0e0;
            padding: 10px;
            border-radius: 20px;
        }
    }

    //Search box
    .search{
        padding: 0 15px;
        border-right: 1px solid #fcfafa;
        width: 35%;
        input{
            border: none;
            outline: none;
            width: 100%;
            height: 40px;
            border-radius: 10px;
        }
    }

    // Icons styling
    .icons {
        span {
            margin-left: 15px;
            cursor: pointer;
            i{
                font-size: 1.5rem;
            }
        }
    }

    // Responsive adjustments
    @media screen and (max-width: 600px) {
        .menu {
            display: none;
        }
        .menu-icon {
            display: block;
        }
    }
}

.login {
    display: flex;
    .imgback {
        height: 500px;
        width: 50%;
        background-color: #f7f7d8;
        h1{
            font-size: 3rem;
            padding-left: 5%;
            padding-top: 3%;
        }

        .img {
            background-image: url(group-19-1617704502.webp);
            background-size: contain;
            height: 78%;
            width: 100%;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        left: 5%;
        h1{
            font-size: 3rem;
            a{
                all: unset;
                cursor: pointer;
            }
        }
        p{
            color: #867a7a;
        }
        .search2{
            padding: 0 15px;
            border-right: 1px solid #fcfafa;
            width: 100%;
            height: 40px;
            input{
                width: 100%;
                padding: 10px;
                color: white;
                border-radius: 5px;
                cursor: pointer;
            }
        } 
        .continu{
            padding: 0 15px;
            border-right: 1px solid #fcfafa;
            width: 100%;
            height: 40px;
            button {
                width: 100%;
                padding: 10px;
                background-color: #32CD32;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            button:hover {
                background-color: #2E8B57;
            }
        }  
    }
}