/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top-Navbar */
.top_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .top-menu{
        display: flex;
        list-style: none;
        // gap: 20px;
        li{
            margin-left: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .top2-menu{
        display: flex;
        list-style: none;
        li{
            margin-left: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e3e0e0;
    padding: 10px;

    // Logo styling
    .navbar-logo {
        font-size: 30px;
        font-weight: bold;
    }

    // Menu items styling
    .navbar-menu {
        list-style-type: none;
        display: flex;

        li {
            padding: 0 15px;
            border-right: 1px solid #ddd;
            // font-family: arial;
        }
    }

    //Search box
    .search{
        padding: 0 15px;
        border-right: 1px solid #ddd;
        width: 25%;
        input{
            border: none;
            outline: none;
            width: 100%;
            height: 40px;
            border-radius: 10px;
        }
    }

    // Icons styling
    .icons {
        span {
            margin-left: 15px;
            cursor: pointer;
        }
    }

    // Responsive adjustments
    @media screen and (max-width: 600px) {
        .menu {
            display: none;
        }
        .menu-icon {
            display: block;
        }
    }
}

// Heading Lines
.heading{
    ul{
        display: flex;
        justify-content: space-around;
        font-family: arial;
        padding: 13px 14px;
        text-decoration: none;
        list-style: none;
    }
}

