/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top-Navbar */
.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.top_nav .top-menu {
  display: flex;
  list-style: none;
}
.top_nav .top-menu li {
  margin-left: 15px;
}
.top_nav .top-menu li a {
  text-decoration: none;
  color: black;
}
.top_nav .top2-menu {
  display: flex;
  list-style: none;
}
.top_nav .top2-menu li {
  margin-left: 15px;
}
.top_nav .top2-menu li a {
  text-decoration: none;
  color: black;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e3e0e0;
  padding: 10px;
}
.navbar .navbar-logo {
  font-size: 30px;
  font-weight: bold;
}
.navbar .navbar-logo a {
  all: unset;
  cursor: pointer;
}
.navbar .navbar-logo a:hover {
  color: #e3e0e0;
  background-color: rgb(44, 123, 97);
  border-radius: 50px;
  padding: 5px;
}
.navbar .navbar-menu {
  list-style-type: none;
  display: flex;
}
.navbar .navbar-menu li {
  padding: 0 15px;
  border-right: 1px solid #faf7f7;
}
.navbar .navbar-menu li a {
  all: unset;
  cursor: pointer;
}
.navbar .navbar-menu li:hover {
  background-color: #6c4444;
  color: #e3e0e0;
  padding: 10px;
  border-radius: 20px;
}
.navbar .search {
  padding: 0 15px;
  border-right: 1px solid #fcfafa;
  width: 35%;
}
.navbar .search input {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.navbar .icons span {
  margin-left: 15px;
  cursor: pointer;
}
.navbar .icons span i {
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .navbar .menu {
    display: none;
  }
  .navbar .menu-icon {
    display: block;
  }
}

.payment .second-half {
  font-family: Arial, sans-serif;
}
.payment .second-half .order-container {
  display: flex;
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}
.payment .second-half .order-header {
  color: green;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.payment .second-half .delivery-details {
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
}
.payment .second-half .delivery-details img {
  height: 400px;
}
.payment .second-half .item-description {
  font-weight: bold;
}
.payment .second-half table {
  position: relative;
  top: 350px;
  left: 110%;
  display: flex;
  flex-direction: column;
}
.payment .second-half .payment-methods {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.payment .second-half .payment-methods h3 {
  font-size: 16px;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}
.payment .second-half .payment-methods .method {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}
.payment .second-half .payment-methods .method:first-child {
  border-top: none;
}
.payment .second-half .payment-methods .method:not(:last-child) {
  margin-bottom: 15px;
}
.payment .second-half .payment-methods .icon {
  margin-right: 10px;
}

.heading small {
  margin: 30px;
}
.heading small a {
  all: unset;
  cursor: pointer;
}
.heading h1 {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
}

.footer {
  background: #1c1c1c;
  color: #ffffff;
  margin-top: 20px;
}
.footer #inform-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-top: 20px; */
}
.footer #about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer #about-us div {
  margin-right: 85px;
  margin-top: 40px;
}
.footer #about-us ul {
  margin-top: 20px;
  line-height: 2.3;
  list-style-type: none;
}
.footer #about-us span {
  color: rgb(255, 210, 50);
  font-size: 20px;
  font-weight: 600;
}
.footer #updates > div {
  margin-top: 40px;
}
.footer #updates span {
  font-size: 23px;
}
.footer #updates input {
  width: 65%;
  height: 38px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: rgb(232, 232, 232);
}/*# sourceMappingURL=Pay.css.map */