/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top-Navbar */
.top_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .top-menu{
        display: flex;
        list-style: none;
        // gap: 20px;
        li{
            margin-left: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .top2-menu{
        display: flex;
        list-style: none;
        li{
            margin-left: 15px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e3e0e0;
    padding: 10px;

    // Logo styling
    .navbar-logo {
        font-size: 30px;
        font-weight: bold;
        a{
            all: unset;
            cursor: pointer;
        }
        a:hover{
            color: #e3e0e0;
            background-color: rgb(44, 123, 97);
            border-radius: 50px;
            padding: 5px;
        }
    }

    // Menu items styling
    .navbar-menu {
        list-style-type: none;
        display: flex;

        li{
            padding: 0 15px;
            border-right: 1px solid #faf7f7;
            // font-family: arial;
            a{
                all: unset;
                cursor: pointer;
            }
        }
        li:hover{
            background-color: #6c4444;
            color: #e3e0e0;
            padding: 10px;
            border-radius: 20px;
        }
    }

    //Search box
    .search{
        padding: 0 15px;
        border-right: 1px solid #fcfafa;
        width: 35%;
        input{
            border: none;
            outline: none;
            width: 100%;
            height: 40px;
            border-radius: 10px;
        }
    }

    // Icons styling
    .icons {
        span {
            margin-left: 15px;
            cursor: pointer;
            i{
                font-size: 1.5rem;
            }
        }
    }

    // Responsive adjustments
    @media screen and (max-width: 600px) {
        .menu {
            display: none;
        }
        .menu-icon {
            display: block;
        }
    }
}
// Product Details ---------------------------------------------------------------------
.product{
    .head{
        ul{
            display: flex;
            margin-top: 5px;
            li{
                padding: 10px;
                list-style-type: none;
                color: rgb(106, 128, 128);
            }
        }
    }
    .detail{
        display: flex;
        .dimg{
            width: 50%;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(5,auto);
            height: 800px;
            .imgd1{
                grid-row-start: 1;
                grid-row-end: -6;
                background-color: #ac2828;
                height: 100px;
            }
            .imgd2{
                grid-row-start: 1;
                grid-column-end: 2;
                background-color: #1d0f85;
                height: 100px;
            }
            .imgd3{
                grid-row-start: 4;
                grid-column-end: 4;
                background-color: #cb1fa9;
                height: 100px;
            }
            .imgd4{
                grid-row-start: 2;
                grid-column-end: 1;
                background-color: #13c04f;
                height: 100px;
            }
            .imgd5{
                grid-row-start: 2;
                grid-column-end: 1;
                background-color: #6c4444;
                height: 100px;
            }
        }
        .det{
            width: 50%;
            background-color: #6c4444;
        }
    }
}