/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top-Navbar */
.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.top_nav .top-menu {
  display: flex;
  list-style: none;
}
.top_nav .top-menu li {
  margin-left: 15px;
}
.top_nav .top-menu li a {
  text-decoration: none;
  color: black;
}
.top_nav .top2-menu {
  display: flex;
  list-style: none;
}
.top_nav .top2-menu li {
  margin-left: 15px;
}
.top_nav .top2-menu li a {
  text-decoration: none;
  color: black;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e3e0e0;
  padding: 10px;
}
.navbar .navbar-logo {
  font-size: 30px;
  font-weight: bold;
}
.navbar .navbar-logo a {
  all: unset;
  cursor: pointer;
}
.navbar .navbar-logo a:hover {
  color: #e3e0e0;
  background-color: rgb(44, 123, 97);
  border-radius: 50px;
  padding: 5px;
}
.navbar .navbar-menu {
  list-style-type: none;
  display: flex;
}
.navbar .navbar-menu li {
  padding: 0 15px;
  border-right: 1px solid #faf7f7;
}
.navbar .navbar-menu li a {
  all: unset;
  cursor: pointer;
}
.navbar .navbar-menu li:hover {
  background-color: #6c4444;
  color: #e3e0e0;
  padding: 10px;
  border-radius: 20px;
}
.navbar .search {
  padding: 0 15px;
  border-right: 1px solid #fcfafa;
  width: 35%;
}
.navbar .search input {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.navbar .icons span {
  margin-left: 15px;
  cursor: pointer;
}
.navbar .icons span i {
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .navbar .menu {
    display: none;
  }
  .navbar .menu-icon {
    display: block;
  }
}

.product .head ul {
  display: flex;
  margin-top: 5px;
}
.product .head ul li {
  padding: 10px;
  list-style-type: none;
  color: rgb(106, 128, 128);
}
.product .detail {
  display: flex;
}
.product .detail .dimg {
  width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.product .detail .dimg .imgd1 {
  background-image: url(pd.webp);
  background-size: cover;
  height: 100%;
  width: 80%;
}
.product .detail .det {
  width: 50%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.product .detail .det h2 {
  font-family: Arial, sans-serif;
  margin-bottom: 5px;
  color: #777;
}
.product .detail .det .span {
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
  color: #777;
}
.product .detail .det .rating {
  color: #FFD700; /* Gold color for stars */
  margin-bottom: 5px;
  margin-top: 20px;
  border: 1px solid #777;
  width: 8%;
}
.product .detail .det .price {
  font-size: 24px;
  color: #333; /* Dark grey for price */
}
.product .detail .det .original-price {
  text-decoration: line-through;
  color: #777; /* Light grey for original price */
  font-size: 18px;
  margin-left: 10px;
}
.product .detail .det .discount {
  color: green;
  font-weight: bold;
  margin-left: 10px;
}
.product .detail .det .taxes {
  font-size: 12px;
  color: #333; /* Dark grey for tax info */
}
.product .detail .det .notification {
  background-color: #E0ECFF;
  color: #000;
  padding: 10px;
  text-align: center;
}
.product .detail .det .features {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.product .detail .det .offer {
  background-color: #F9F9F9;
  padding: 10px;
}
.product .detail .det .size-selector {
  display: flex;
  justify-content: space-between;
}
.product .detail .det .size-button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.product .detail .det .size-button:hover {
  background-color: #000;
  color: #FFD700;
}
.product .detail .det .size-button.active {
  color: #fff;
}
.product .detail .det .stock-info {
  color: red;
}
.product .detail .det .add-to-bag-btn,
.product .detail .det .wishlist-btn {
  padding: 15px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.product .detail .det .add-to-bag-btn {
  background-color: #FFD700;
  color: black;
  text-align: center;
}
.product .detail .det .add-to-bag-btn:hover {
  background-color: rgb(186, 71, 18);
  color: #E0ECFF;
}
.product .detail .det .wishlist-btn {
  background-color: #FFD700;
  color: black;
  text-align: center;
}
.product .detail .det .wishlist-btn:hover {
  background-color: rgb(186, 71, 18);
  color: #E0ECFF;
}

.heading small {
  margin: 30px;
}
.heading small a {
  all: unset;
  cursor: pointer;
}
.heading h1 {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
}

.footer {
  background: #1c1c1c;
  color: #ffffff;
  margin-top: 20px;
}
.footer #inform-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-top: 20px; */
}
.footer #about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer #about-us div {
  margin-right: 85px;
  margin-top: 40px;
}
.footer #about-us ul {
  margin-top: 20px;
  line-height: 2.3;
  list-style-type: none;
}
.footer #about-us span {
  color: rgb(255, 210, 50);
  font-size: 20px;
  font-weight: 600;
}
.footer #updates > div {
  margin-top: 40px;
}
.footer #updates span {
  font-size: 23px;
}
.footer #updates input {
  width: 65%;
  height: 38px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: rgb(232, 232, 232);
}/*# sourceMappingURL=PDetail.css.map */